a {
  color: rgb(193, 193, 26);
}

a:hover {
  background-color: rgb(11, 78, 26);
}

body {
  background-image: url(../img/281-4928x3264.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

div { display: flex;
      justify-content: center;
}


h1 {
  text-align: center;
  font-style: normal;
  color: rgb(183, 183, 60);
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

li {
  font-size: large;
  font-family: Arial;
  margin: 15px;
}

p {
  text-align: center;
  color: rgb(212, 212, 92);
  font-size: larger;
  font-family: Arial;
  text-shadow: rgb(0, 0, 0) 3px 0px 0px, rgb(0, 0, 0) 2.83487px 0.981584px 0px, rgb(0, 0, 0) 2.35766px 1.85511px 0px, rgb(0, 0, 0) 1.62091px 2.52441px 0px, rgb(0, 0, 0) 0.705713px 2.91581px 0px, rgb(0, 0, 0) -0.287171px 2.98622px 0px, rgb(0, 0, 0) -1.24844px 2.72789px 0px, rgb(0, 0, 0) -2.07227px 2.16926px 0px, rgb(0, 0, 0) -2.66798px 1.37182px 0px, rgb(0, 0, 0) -2.96998px 0.42336px 0px, rgb(0, 0, 0) -2.94502px -0.571704px 0px, rgb(0, 0, 0) -2.59586px -1.50383px 0px, rgb(0, 0, 0) -1.96093px -2.27041px 0px, rgb(0, 0, 0) -1.11013px -2.78704px 0px, rgb(0, 0, 0) -0.137119px -2.99686px 0px, rgb(0, 0, 0) 0.850987px -2.87677px 0px, rgb(0, 0, 0) 1.74541px -2.43999px 0px, rgb(0, 0, 0) 2.44769px -1.73459px 0px, rgb(0, 0, 0) 2.88051px -0.838247px 0px;
}

.box {
  width: fit-content; 
  padding: 10px;
  border: solid black;
  border-width: 4px;
  box-sizing: border-box;
  }

.box2 {
    width: 400px;
    padding: 10px;
    border: solid black;
    border-width: 4px;
    box-sizing: border-box;
    margin: 10px;
  }
  
.box3 {
    width: fit-content;
    border: solid rgb(0, 0, 0);
    border-width: 4px;
    box-sizing: border-box;
  }
  
.column1 {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  background-color: aquamarine;
  float: left;
}

.column2 {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  background-color: rgb(18, 173, 72);
  float: left;
}

.column3 {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  background-color: salmon;
  float: left;
}

.h-background {
  position:relative;
  background: url("https://media.giphy.com/media/RcjJJbQi0n9K6cPVyU/giphy.gif") center center;
  background-size:auto;
  padding: 20px;
  text-align: center;
}

.highlight {
  background-color: rgb(0, 0, 0);
}

.rotate {
  transition: transform 2s linear;
}

.rotate:hover {
  transform: rotate(359deg);
}

.sidebar {
  display: flex;
  color: rgb(156, 156, 78);
  width: fit-content;
  float: right;
  background-color: rgb(29, 96, 85);
  align-items: center;
  justify-content: center;
}

figure {
  margin: 0;
}